@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

/* Custom scrollbar untuk terminal */
.terminal-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.terminal-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 10px;
}
